
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1000px;
  background: #fff;
  font-family: sans-serif;
  overflow: scroll;
}

td{
  text-align:center;
  border-bottom: 1px black solid;
  border-right: 1px #333 solid;
}

.col tbody tr td{
  background: rgb(128, 128, 128) url('../img/more.png') bottom right no-repeat;
  border-bottom: 1px #ccc solid;
  border-right: 1px #ccc solid;
}

.icons tbody tr td{
  background-color: #fff;
  background-image: none;
  border: 1px #ccc solid;
  border-top: none;
}

thead tr td{
  background-color: #000;
  background-image: none;
  color: #eee;
}

.icons thead tr td{
  background-color: #000;
}
.loginForm{
  position:fixed;
  top:0px;
  left:0px;
  background-color: #111;
}
.loginForm h2{
  color:white;
  margin-left: 50px;
}

.loginForm div{
  text-align: left;
  padding: 0 50px;
}
.loginForm .labelWrap{
  margin-top: 20px;
}
.loginForm div label{
  color:#888;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.loginForm div input{
  font-size: 32px;
  border:none;
}
.loginForm div input[type=submit]{
  background-color: #888;
  height:50px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px white solid;
  color:white;
}

.spinner{
  z-index: 10;
  background: url(../img/spinner.gif);
  position: fixed;
  width: 125px;
  height: 125px;
}

#detail{
  position: absolute;
  background-color: white;
  color:white;
  height:1000px;
}

#detail ul{
  padding: 10px;
  margin:0;
  list-style: none;
}
#detail ul li{
  position: relative;
  border-radius: 5px;
  border-top: 1px solid #fff;
  background-color: green;
  padding: 10px;
  padding-right: 20px;
  font-size: 13px;
  color:black;
}

span.answer{
  position: absolute;
  right:10px;
  top:10px;
  font-weight: bold;
}
#detail h1{
  position: relative;
  background-color: black;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  margin: 0;
}
#detail h1 span{
  font-weight: normal;
  float: left;
  position: absolute;
  left:10px;   
}
#detail .surveyTitle{
  padding-left: 10px;
  color:#111;
  position: relative;
  top:10px;
}

#menu{
  text-align: center;
  position: fixed;
  bottom: 0;
  right:0px;
  padding: 10px;
  background-color: #000;
  color:white;
}
.hidden{
  display: none;
}

.answerText{
  font-weight: bold;
  border-top:#111 dashed 1px;
  margin-top: 2px;
  padding-top: 2px;
}